.footer {
    background-color:rgb(77, 77, 77);
    padding: 0.7em;
    margin: 0px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer ul li {
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #ffffff;
}

.footer ul li:last-child {
    border-right: none;
}

.Span-footer {
    display: block;
    background-size: 40px 40px;
    cursor: pointer;
    display: none;
}